*/embeds/*
*/.cache
*/.attic
.attic
.cache
.nodemon.log
embeds
.n
**/submodules/*
*/build
*/.cache
loader/meson/*
embed/meson/*
tmp/
*unc-backup*
subprojects/*/*
subprojects/*/
etc/palettes.sqlite
etc/test-theme.json
.venv
etc/themes
